<!-- start header -->
<header id="header" class="home">
  <div class="container">
    <div class="header-content">
      <p id="greeting1"></p>
      <div id="greeting-subsection">
        <div class="row">
          <div class="col-6 col-md-3" id="icon1">
            <ion-icon name="film-outline" class="header_icon"></ion-icon>
            <p class="icon_text">Video Editing</p>                               
          </div>
          <div class="col-6 col-md-3" id="icon2">
            <ion-icon name="cube-outline"  class="header_icon"></ion-icon>
            <p class="icon_text">3D Modeling & Animation</p>
        </div>
          <div class="col-6 col-md-3" id="icon3">
              <ion-icon name="game-controller-outline"  class="header_icon"></ion-icon>
              <p class="icon_text">Game Design</p>
          </div>
          <div class="col-6 col-md-3" id="icon4">
              <ion-icon name="bulb-outline"  class="header_icon"></ion-icon>
              <p class="icon_text">Branding</p>
          </div>          
        </div>            
      </div>
    </div>
  </div>
</header>
<!-- End header -->