<!-- About -->
<section style="background-color: white;">
    <div class="container" id="about_section">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">  
          <img src="images/Portrait image.png" data-tilt data-tilt-max="10" data-tilt-speed="1000" data-tilt-scale="1.06" id="portrait_image">     
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center" >
            <div id="about_section_card" class="card" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-tilt-scale="1.02">
              <p class="section_title">About Me</p>
              <p id="about_text">
                Hello and welcome to my website! My name is Berin, and I'm a multimedia creator based in Sarajevo, Bosnia and Herzegovina. With years of experience working on many different  projects, I've honed my skills in video editing, graphic design, branding, and game development.
                Whether it's crafting compelling visual narratives through video, designing eye-catching graphics and logos, or developing immersive gaming experiences, I'm passionate about bringing ideas to life through my work.
              </p>
            </div>        
        </div>      
    </div>
    
  </section>
    
  <!-- End About -->