<!-- Portfolio -->
<div class="container" id="portfolio_section">
  <div class="section_title">
    <p>MY PORTFOLIO</p>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="portfolio-list">
        <ul class="nav list-unstyled" id="portfolio-flters">
          <li class="filter filter-active" data-filter=".all">All</li>
          <li class="filter" data-filter=".editing">Video Editing</li>              
          <li class="filter" data-filter=".branding">Brand Design</li> 
          <li class="filter" data-filter=".animation">Adverts</li>             
          <li class="filter" data-filter=".game">Game development</li>           
          
        </ul>
      </div>

      <div class="portfolio-container row">

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all editing animation">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/Audi.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Car advert CGI concept</h5>
              <p class="card-text">Fully computer generated Audi commercial concept. Showcases 3D modeling and animation in Blender, combined with editing.</p>
              <a href="p_Audi.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all animation editing">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/Coca.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Soda advert CGI concept</h5>
              <p class="card-text">A Coca-Cola advert intended for social media use. Animated and rendered using Blender. Final edit completed in Premiere Pro.</p>
              <a href="p_coca_cola.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesign">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/AssetFin.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Company branding</h5>
              <p class="card-text">Brand design for an accounting agency. A brand new logo combined with a business card, roll up banner and 3D mockups.</p>
              <a href="p_AssetFin.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>  

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups editing ">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/Burger.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Instructional cooking video</h5>
              <p class="card-text">A detailed "How to" video explaining the process of making the perfect hamburger. Showcases ability to effectively convey information.</p>
              <a href="p_burger.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>      

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all game ">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/Squidward.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sinister Squidward</h5>
              <p class="card-text">A horror/comedy experience crafted using the Unity engine. Played by thousands, including some of the biggest names on YouTube.</p>
              <a href="p_sinister_squidward.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all game">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/School.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">School of the Dead</h5>
              <p class="card-text">A short horror mystery game made using the Unity game engine. My first attempt at creating an engaging gaming experience.</p>
              <a href="p_SchoolOfTheDead.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all animation editing branding">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/RoadReport.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Web App Animated Ad</h5>
              <p class="card-text">Short animated video ad made to effectively demonstrate the usage of a web platform, presenting both the problem and its solution.</p>
              <a href="p_RoadReport.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/Anpr.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ANPR System</h5>
              <p class="card-text">A simple number plate detection system created in python. GUI assembled with the Custom Tkinter Python library.</p>
              <a href="p_RoadReport.html" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding">
          <div class="card mb-4">
            <img class="card-img-top" src="images/portfolio/hercafe.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Promotional flyers</h5>
              <p class="card-text">Promotional flyers crafted to enhance brand recognition and drive sales, designed to pique interest and showcase the product</p>
              <a href="#" class="myButton">READ MORE</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End section portfolio -->